* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.5s;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  height: 80px;
  background-color: rgba(96, 125, 139, 0.904);
  z-index: 1000;
  position: fixed;
  width: 100%;

  text-shadow: 0px 2px 10px black;
  font-family: 'Roboto', sans-serif;
}

.head-logo {
  width: 4.5%;
  height: 75px;
  margin-left: 5%;
}

li {
  list-style: none;
}

nav>a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

li>a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.nav-nadpis {
  font-size: 3rem;
  transition: 0.7s ease;
}

.nav-nadpis:hover {
  color: rgb(0, 0, 0);

}

.navbar {
  font-size: 1.5rem;
  z-index: 1000;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;

}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 0px;
  position: relative;
  justify-content: right;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}


.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  z-index: 1000;
  margin-left: 10%;
}

.nav-links {
  text-decoration: none;
  line-height: 16px;
  transition: color 0.4s, padding 0.2 ease-in;
  color: rgb(90, 247, 69);
}

.nav-links::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: black;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.6s, transform 0.4s ease-in-out;
}

#uvod::before {
  width: 100%;
}

#onas::before {
  width: 100%;
}

.nav-links:hover::before,
.nav-links:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.nav-links:hover {
  color: rgb(75, 231, 75);
}

.dropdown-content {
  margin-top: -500px;
  display: block;
  position: absolute;
  background-color: rgba(96, 125, 139, 0.904);
  top: 100px;
  z-index: 50;
  transition: 0s;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: -1;
  /* Move the dropdown-content behind the header */
}

.krik:hover .dropdown-content {
  display: block;
  margin-top: -45px;
  z-index: -1;
  z-index: 50;
}

.dropdown-content li {
  display: block;
  height: 35px;
  text-align: left;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.dropdown-content li a {
  height: 100%;
  font-size: 20px;
  z-index: 50;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: -1;
}

.nav-item {
  height: 100%;
  z-index: 50;

}

.krik:hover .dropdown-content,
.dropdown-content.active {
  display: block;
  margin-top: -45px;
  z-index: -1;
}

.dropdown:hover>a {
  background-color: #ccc;
}

.dropdown-content li a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 50;
  background-color: rgb(0, 0, 0);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.6s, transform 0.4s ease-in-out;
}

.dropdown-content a:hover::before,
.dropdown-content a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.dropdown-content a:hover {
  color: rgb(200, 200, 200);
}

@media(max-width: 1500px) {
  .nav-menu {
    width: 45%;
  }
}

.nav-links {
  text-decoration: none;
  line-height: 16px;
  z-index: 1000;
  transition: color 0.4s, padding 0.2 ease-in;
  color: rgb(90, 247, 69);
}

.nav-links::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.6s, transform 0.4s ease-in-out;
}

.nav-links:hover::before,
.nav-links:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);

}

.nav-links:hover {
  color: rgb(200, 200, 200);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 40px;
  margin: 8px auto;
  height: 5px;
  z-index: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media(max-width: 1200px) {
  .dropdown-content {
    display: none;
    position: relative;
    top: 0px;
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 3s;
  }

  .krik {
    width: 100%;
    height: 400px;
    transition: 3s;
  }

  .krik:hover {
    height: 160px;
    transition: 3s;
  }

  .krik:hover .dropdown-content {
    display: block;
    transition: 3s;
  }

  .dropdown-content li {
    display: block;
    height: 33px;
    text-align: left;
    align-items: center;
    transition: 3s;
    justify-content: center;
  }

  .dropdown-content li a {
    height: 100%;
    font-size: 20px;
    transition: 3s;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    transition: 3s;
  }

  .nav-item {
    height: 100%;

  }

  .krik:hover .dropdown-content,
  .dropdown-content.active {
    display: block;
    margin-top: 0;
    transition: 3s;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    left: -150%;
    transition: 0s;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(96, 125, 139, 0.904);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 30px 0;
    transition: 0s;
  }

  .nav-menu.active {
    left: 0;
    width: 100%;
    margin-left: 0px;
    transition: 0s;
    padding-left: 0px;
  }

  .nav-links::before {
    content: "";
    display: block;
    position: absolute;
    transition: 0s;
    bottom: 0px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.4s, transform 0.2s ease-in-out;
  }

  #uvod::before {
    width: 100%;
    transition: 0.4s;
  }

  #onas::before {
    width: 100%;
    transition: 0.4s;
  }
}

@media(max-width: 700px) {
  .dropdown-content {
    display: block;
    position: relative;

    top: 0px;
    z-index: 100;
    margin-top: 0;
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

  }

  .krik {
    width: 100%;

    padding-bottom: 0px;
    transition: 0s;
    display: block;
  }

  .krik:hover {
    height: 0px;
    transition: 0s;
    padding-bottom: 230px;
  }

  .krik:hover .dropdown-content,
  .dropdown-content.active {
    display: block;
    transition: 0s;
  }

  .krik:hover .dropdown-content {
    display: block;
    transition: 0s;
    margin-top: 0;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .krik:hover .dropdown-content,
  .dropdown-content.active {
    display: block;
    margin-top: 0px;
  }

  .dropdown-content li {
    display: block;
    height: 33px;
    text-align: left;
    align-items: center;
    transition: 0s;
    justify-content: center;
  }

  .dropdown-content li a {
    height: 100%;
    font-size: 20px;
    transition: 0s;
  }

  .nav-item {
    height: 100%;

  }
}

/*Hlava konec*/
#telo {
  height: 1950px;
}

.uvod-obsah {
  margin-top: 80px;
  height: 29%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.pozadie-nadpis {
  width: 100%;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 1);
  background-color: #696969;
  color: white;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uvod-nadpis {
  font-size: 3rem;
  text-shadow: 0px 2px 10px black;
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  margin-left: 5%;

}

.uvod-text {
  margin-top: 2.5%;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  height: auto;
  margin-left: 5%;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
}

.poduvod-button-email {

  font-size: 1.2rem;
  width: 30%;

  border-radius: 11px;
  background-color: #FFC107;
  padding: 15px 50px;
  color: white;
  cursor: pointer;


}

.poduvod-button-tel {
  display: none;
  font-size: 1.2rem;
  width: 0%;
  border-radius: 11px;
  background-color: #FFC107;
  padding: 15px 50px;
  color: white;
  cursor: pointer;

}

@media(max-width: 1000px) {
  .poduvod-button-tel {
    display: block;
    width: 30%;
  }

  .buttons {
    justify-content: space-around;

  }

}

.poduvod-button-email:hover {
  background-color: #696969;
  animation: scale-up-center 0.6s ease-in-out both;
}

.galeria {
  height: 72%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.gal-obr1 {
  height: 33%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.gal-obr2 {
  height: 33%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gal-obr3 {
  height: 33%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* pata začiatok*/
.footer {
  width: 100%;
  height: 400px;
  background-color: #607D8B;
  z-index: 10000;
  box-shadow: 0px 10px 39px 20px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.footer-nadpis {
  text-align: center;
  height: 25%;
  font-size: 3.1rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-shadow: 0px 2px 10px black;
}

.footer-main {
  height: 70%;

  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

.footer-info {
  width: 40%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0px 2px 10px black;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.footer-info-tel {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
}

.footer-info-adr {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
}

.flexim {
  width: 40%;
  display: flex;
  margin-left: 20%;
  justify-content: space-between;
}

.footer-nav {
  width: 20%;
  margin-left: 20%;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  color: white;
  text-decoration: none;
  text-shadow: 0px 2px 10px black;
}

.footer-nav>a {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2px;
}

.footer-link {
  color: white;
  font-size: 18px;
  text-decoration: underline;
  text-shadow: 0px 2px 10px black;
}

.footer-link:hover {
  color: #FFC107;
  ;
}

.footer-nav>p {
  margin-top: 40px;
}

.footer-tlacidlo {
  width: 15%;
  display: flex;
  flex-direction: column;
}


#footer-citko {
  height: 25%;
  width: 90%;
  background-color: #FFC107;
  border-radius: 11px;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 100px;
  cursor: pointer;
}

#footer-citko:hover {
  background-color: #696969;
}



.copy-r {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
}

/* ZLOMOVÁ SEKCIA !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media(max-width: 1200px) {
  .uvod-text {
    font-size: 1.2rem;
  }

  .footer-info {
    width: 50%;
    justify-content: space-between;

  }

  .flexim {
    width: 49%;
    margin-left: 1%;
  }

  .footer-nav {
    margin-left: 5%;
    width: 25%;

  }

  .footer-info-adr {
    margin-left: 0%;
    width: 40%;
  }

  .footer-info-tel {
    width: 55%;
  }
}

@media(max-width: 1000px) {
  #telo {
    height: 2100px;
  }

  .buttons {
    margin-top: 5%;
  }

  .footer {
    height: 300px;
  }

  .footer-nadpis {
    font-size: 2.5rem;
    justify-content: center;
  }

  .footer-info-adr {
    margin-top: 20px;
    font-size: 1.0rem;
  }

  .footer-info-tel {
    margin-top: 20px;
    font-size: 1.0rem;
  }

  .footer-nav {
    margin-top: 20px;
    width: 30%;
    font-size: 1.0rem;
  }

  .footer-nav>a {
    font-size: 1rem;
  }

  #footer-citko {
    width: 100%;
    margin-top: 60px;
  }

  .copy-r {
    font-size: 0.8rem;
  }
}

@media(max-width: 900px) {
  .buttons {
    margin-top: 5%;
  }

}

@media(max-width: 850px) {
  #telo {
    height: 2300px;
  }

  .footer {
    height: 500px;
  }

  .footer-nadpis {
    height: 20%;
  }

  .footer-main {
    height: 75%;

    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
  }

  .footer-info {
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
  }

  .flexim {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
  }

  .footer-tlacidlo {
    width: 30%;
  }

  #footer-citko {
    height: 40%;
  }

  .footer-nav {
    width: 40%;
    margin: 0px;
  }

  .footer-info-adr {
    font-size: 1.1rem;
    text-align: right;
  }

  .footer-info-tel {
    font-size: 1.1rem;
  }

  .footer-nav {
    font-size: 1.1rem;
  }
}


@media(max-width: 635px) {

  .poduvod-button-email {
    padding: 10px 50px;
    height: 70%;
  }

  .poduvod-button-tel {
    padding: 10px 50px;
    height: 70%;
    text-align: center;
  }

  #telo {
    height: 2400px;
  }

  .buttons {
    margin-top: 5%;
  }

  .footer-main {
    width: 95%;
    margin-left: 2.5%;
  }

  .footer-info-adr {
    font-size: 0.9rem;
  }

  .footer-info-tel {
    font-size: 0.9rem;
  }

  .footer-nav {
    font-size: 0.9rem;
  }
}

@media(max-width: 760px) {
  .pozadie-nadpis {
    height: 15%;
  }

  .uvod-nadpis {
    font-size: 2.5rem;
    text-align: center;
  }

  .uvod-text {
    font-size: 1.1rem;
    margin-top: 50px;
  }

}

@media(max-width: 590px) {
  .uvod-text {
    font-size: 1.1rem;
    margin-top: 20px;
  }

}

@media(max-width: 530px) {
  .galeria {
    height: 63%;
  }

  .uvod-obsah {
    height: 38%;
  }

  .uvod-text {
    font-size: 1.2rem;
  }

  .buttons {
    margin-top: 12%;
  }

  .poduvod-button-email {
    padding: 10px 15px;
    height: 70%;
    text-align: center;
  }

  .poduvod-button-tel {
    padding: 10px 15px;
    height: 70%;
    text-align: center;
  }

}

@media(max-width: 465px) {
  .pozadie-nadpis {
    height: 10%;
  }

  .uvod-nadpis {
    font-size: 2rem;
  }

  .uvod-text {
    font-size: 1.1rem;
  }

  .nav-nadpis {
    font-size: 2.5rem;
  }


}

@media(max-width: 460px) {
  .footer-tlacidlo {
    width: 40%;
  }
}

@media(max-width: 400px) {
  .footer-info-adr {
    font-size: 0.8rem;
  }

  .footer-info-tel {
    font-size: 0.8rem;
  }

  .footer-main {
    width: 98%;
    margin-left: 1%;
  }
}

@media(max-width: 390px) {
  .poduvod-button-email {
    width: 35%;
  }

  .poduvod-button-tel {
    width: 35%;
  }
}

@media(max-width: 390px) {
  .buttons {
    margin-top: 10%;
  }

  .poduvod-button-email {
    padding: 10px 15px;
    font-size: 0.95rem;

  }

  .poduvod-button-tel {
    padding: 10px 15px;
    font-size: 0.95rem;

  }

  .galeria {
    height: 62%;
  }

  .uvod-obsah {
    height: 39%;
  }
}