* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 0.5s;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    height: 80px;
    background-color: rgba(96, 125, 139, 0.904);
    z-index: 1000;
    position: fixed;
    width: 100%;

    text-shadow: 0px 2px 10px black;
    font-family: 'Roboto', sans-serif;
}

.head-logo {
    width: 4.5%;
    height: 75px;
    margin-left: 5%;
}

li {
    list-style: none;
}

nav>a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

li>a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.nav-nadpis {
    font-size: 3rem;
    transition: 0.7s ease;
}

.nav-nadpis:hover {
    color: rgb(0, 0, 0);

}

.navbar {
    font-size: 1.5rem;
    z-index: 1000;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0px;
    position: relative;
    justify-content: right;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    z-index: 1000;
    margin-left: 10%;
}

.nav-links {
    text-decoration: none;
    line-height: 16px;
    transition: color 0.4s, padding 0.2 ease-in;
    color: rgb(90, 247, 69);
}

.nav-links::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: black;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.6s, transform 0.4s ease-in-out;
}

#uvod::before {
    width: 100%;
}

#onas::before {
    width: 100%;
}

.nav-links:hover::before,
.nav-links:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.nav-links:hover {
    color: rgb(75, 231, 75);
}

.dropdown-content {
    margin-top: -500px;
    display: block;
    position: absolute;
    background-color: rgba(96, 125, 139, 0.904);
    top: 100px;
    z-index: 50;
    transition: 0s;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: -1;
    /* Move the dropdown-content behind the header */
}

.krik:hover .dropdown-content {
    display: block;
    margin-top: -45px;
    z-index: -1;
    z-index: 50;
}

.dropdown-content li {
    display: block;
    height: 35px;
    text-align: left;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.dropdown-content li a {
    height: 100%;
    font-size: 20px;
    z-index: 50;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: -1;
}

.nav-item {
    height: 100%;
    z-index: 50;

}

.krik:hover .dropdown-content,
.dropdown-content.active {
    display: block;
    margin-top: -45px;
    z-index: -1;
}

.dropdown:hover>a {
    background-color: #ccc;
}

.dropdown-content li a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: 50;
    background-color: rgb(0, 0, 0);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.6s, transform 0.4s ease-in-out;
}

.dropdown-content a:hover::before,
.dropdown-content a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.dropdown-content a:hover {
    color: rgb(200, 200, 200);
}

@media(max-width: 1500px) {
    .nav-menu {
        width: 45%;
    }
}

.nav-links {
    text-decoration: none;
    line-height: 16px;
    z-index: 1000;
    transition: color 0.4s, padding 0.2 ease-in;
    color: rgb(90, 247, 69);
}

.nav-links::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.6s, transform 0.4s ease-in-out;
}

.nav-links:hover::before,
.nav-links:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);

}

.nav-links:hover {
    color: rgb(200, 200, 200);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 40px;
    margin: 8px auto;
    height: 5px;
    z-index: 500;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width: 1200px) {
    .dropdown-content {
        display: none;
        position: relative;
        top: 0px;
        width: 100%;
        background-color: rgba(96, 125, 139, 0.0);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        transition: 0s;
    }

    .krik {
        width: 100%;
        height: 400px;
        transition: 0s;
    }

    .krik:hover {
        height: 160px;
        transition: 0s;
    }

    .krik:hover .dropdown-content {
        display: block;
        transition: 0s;
    }

    .dropdown-content li {
        display: block;
        height: 33px;
        text-align: left;
        align-items: center;
        transition: s;
        justify-content: center;
    }

    .dropdown-content li a {
        height: 100%;
        font-size: 20px;
        transition: 0s;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        transition: 0s;
    }

    .nav-item {
        height: 100%;

    }

    .krik:hover .dropdown-content,
    .dropdown-content.active {
        display: block;
        margin-top: 0;
        transition: 0s;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -150%;
        transition: 0s;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(96, 125, 139, 0.904);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 30px 0;
        transition: 0s;
    }

    .nav-menu.active {
        left: 0;
        width: 100%;
        margin-left: 0px;
        transition: 0s;
        padding-left: 0px;
    }

    .nav-links::before {
        content: "";
        display: block;
        position: absolute;
        transition: 0s;
        bottom: 0px;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        transform-origin: right top;
        transform: scale(0, 1);
        transition: color 0.4s, transform 0.2s ease-in-out;
    }

    #uvod::before {
        width: 100%;
        transition: 0.4s;
    }

    #onas::before {
        width: 100%;
        transition: 0.4s;
    }
}

@media(max-width: 700px) {
    .dropdown-content {
        display: block;
        position: relative;
        background-color: rgba(96, 125, 139, 0.0);
        top: 0px;
        z-index: 100;
        margin-top: 0;
        width: 100%;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

    }

    .krik {
        width: 100%;
        padding-bottom: 0px;
        transition: 0s;
        display: block;
    }

    .krik:hover {
        height: 0px;
        transition: 0s;
        padding-bottom: 227px;
    }

    .krik:hover .dropdown-content,
    .dropdown-content.active {
        display: block;
        transition: 0s;
    }

    .krik:hover .dropdown-content {
        display: block;
        transition: 0s;
        margin-top: 0;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .krik:hover .dropdown-content,
    .dropdown-content.active {
        display: block;
        margin-top: 0px;
    }

    .dropdown-content li {
        display: block;
        height: 33px;
        text-align: left;
        align-items: center;
        transition: 0s;
        justify-content: center;
    }

    .dropdown-content li a {
        height: 100%;
        font-size: 20px;
        transition: 0s;
    }

    .nav-item {
        height: 100%;

    }
}

/*konec hlavy  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!§§*/
#telo {
    height: 750px;
}

.plocha-kon {
    width: 100%;
    justify-self: center;
    background-color: white;
    height: 1000px;
    z-index: 5;
    margin-top: 80px;
}

.nadpis-kon {
    width: 100%;
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #696969;
    color: white;
    text-shadow: 0px 2px 10px black;
    z-index: 100;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 1);
}

.main-kon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.telo-form {
    width: 90%;
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
    height: 100%;
}

.lava {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;

}

.nadpis-lava {
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    color: #000;
    margin-top: 200px;
    margin-left: 30%;
    z-index: 10;
    text-shadow: 0px 2px 10px black;
    color: white;
}

.text-lava {
    font-size: 1.5rem;
    color: #000;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    margin-left: 30%;
    margin-top: 50px;
    z-index: 10;
    color: white;
}

.prava {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    z-index: 10;

}

.prava-plocha {
    position: absolute;
    background-color: #4c4c4c;
    width: 37%;
    height: 1000px;
    box-shadow: inset 2px 0px 29px -1px rgba(0, 0, 0, 0.61);
    z-index: 1;
    right: 0;
}

.nadpis-prava {
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: left;
    color: #000;
    margin-top: 50px;
}

.form-kon {
    width: 70%;



}

.form-kon p {
    color: #000;
    font-size: 20px;
    width: 100%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.form-kon input {
    outline: none;
    padding-bottom: 5px;
    padding-top: 10px;
    resize: both;
    width: 100%;
    height: 35px;
    font-size: 20px;
    align-self: center;
    border: 2px solid black;

    box-sizing: border-box;
    outline: none;
    resize: none;
    font-family: 'Montserrat', sans-serif;

}

#message {
    padding-bottom: 100px;
    word-wrap: break-word;
}

.form-kon input[type="submit"] {
    width: 50%;
    height: 80px;
    border: none;
    padding-top: 10px;
    font-size: 25px;
    margin-left: 1%;
    margin-top: 30px;
    cursor: pointer;
    background-color: #FFC107;
    border-radius: 11px;
    border: 2px solid black;
    color: white;
    transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.form-kon input[type="submit"]:hover {
    background-color: #696969;
}

.potvrdenie {
    display: flex;
    font-size: 1.1rem;
    color: black;
}

.form-kon input[type="checkbox"] {
    margin-left: 0px;
    width: 10%;
}

textarea {
    outline: none;
    margin-right: 30px;
    padding-bottom: 5px;
    border: 2px solid black;
    padding-top: 10px;
    resize: both;
    width: 100%;
    height: 150px;
    font-size: 20px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.0);
    box-sizing: border-box;
    outline: none;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    ;
}


/* pata začiatok !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.footer {
    width: 100%;
    height: 400px;
    background-color: #607D8B;
    z-index: 10000;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 39px 20px rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
}

.footer-nadpis {
    text-align: center;
    height: 25%;
    font-size: 3.1rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-shadow: 0px 2px 10px black;
}

.footer-main {
    height: 70%;

    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.footer-info {
    width: 40%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 2px 10px black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.footer-info-tel {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

.footer-info-adr {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

.flexim {
    width: 40%;
    display: flex;
    margin-left: 20%;
    justify-content: space-between;
}

.footer-nav {
    width: 20%;
    margin-left: 20%;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    color: white;
    text-decoration: none;
    text-shadow: 0px 2px 10px black;
}

.footer-nav>a {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2px;
}

.footer-link {
    color: white;
    font-size: 18px;
    text-decoration: underline;
    text-shadow: 0px 2px 10px black;
}

.footer-link:hover {
    color: #FFC107;
    ;
}

.footer-nav>p {
    margin-top: 40px;
}

.footer-tlacidlo {
    width: 15%;
    display: flex;
    flex-direction: column;
}


#footer-citko {
    height: 25%;
    width: 90%;
    background-color: #FFC107;
    border-radius: 11px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 100px;
    cursor: pointer;
}

#footer-citko:hover {
    background-color: #696969;
}



.copy-r {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
}

/* ZLOMOVÁ SEKCIA !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media(max-width: 900px) {
    .nadpis-kon{
        font-size: 40px;
        height: 80px;
    }
    .nadpis-prava{
        font-size: 3rem;
        
    }
    .nadpis-lava{
        font-size: 3rem;
        margin-left: 20%;
    }
    .text-lava{
        font-size: 1.2rem;
        margin-left: 20%;
    }
    .form-kon p{
        font-size: 1.2rem;
    }
}
@media(max-width: 750px) {
    .main-kon{
        flex-direction: column;
        height: 1500px;
    }
    .prava-plocha{
        display: none;
    }
    .lava{
        width: 100%;
        
    }
    .form-kon{
        margin-left: 15%;
    }
    .nadpis-prava{
        text-align: center;
    }
    .prava{
        width: 100%;
        background-color: #4c4c4c;
        height: 60%;
    }
    .plocha-kon{
        height: 1500px;
    }
    .telo-form{
        margin-left: 0%;
        width: 100%;
    }
    .nadpis-lava{
        margin-top: 50px;
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }
    .text-lava{
        margin-top: 1.7rem;
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }
}
@media(max-width: 400px) {
    .form-kon{
        width: 90%;
        margin-left: 5%;
    }
    .nav-nadpis{
        font-size: 2.5rem;
    }
    .nadpis-kon{
        font-size: 2.5rem;
    }
}
@media(max-width: 1200px) {

    .footer-info {
        width: 50%;
        justify-content: space-between;

    }

    .flexim {
        width: 49%;
        margin-left: 1%;
    }

    .footer-nav {
        margin-left: 5%;
        width: 25%;

    }

    .footer-info-adr {
        margin-left: 0%;
        width: 40%;
    }

    .footer-info-tel {
        width: 55%;
    }
}

@media(max-width: 1000px) {

    .footer {
        height: 300px;
    }

    .footer-nadpis {
        font-size: 2.5rem;
        justify-content: center;
    }

    .footer-info-adr {
        margin-top: 20px;
        font-size: 1.0rem;
    }

    .footer-info-tel {
        margin-top: 20px;
        font-size: 1.0rem;
    }

    .footer-nav {
        margin-top: 20px;
        width: 30%;
        font-size: 1.0rem;
    }

    .footer-nav>a {
        font-size: 1rem;
    }

    #footer-citko {
        width: 100%;
        margin-top: 60px;
    }

    .copy-r {
        font-size: 0.8rem;
    }
}

@media(max-width: 850px) {
    .footer {
        height: 500px;
    }

    .footer-nadpis {
        height: 20%;
    }

    .footer-main {
        height: 75%;

        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }

    .footer-info {
        width: 80%;
        margin-left: 10%;
        justify-content: space-between;
    }

    .flexim {
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
    }

    .footer-tlacidlo {
        width: 30%;
    }

    #footer-citko {
        height: 40%;
    }

    .footer-nav {
        width: 40%;
        margin: 0px;
    }

    .footer-info-adr {
        font-size: 1.1rem;
        text-align: right;
    }

    .footer-info-tel {
        font-size: 1.1rem;
    }

    .footer-nav {
        font-size: 1.1rem;
    }
}


@media(max-width: 760px) {
    .footer-main {
        width: 95%;
        margin-left: 2.5%;
    }

    .footer-info-adr {
        font-size: 0.9rem;
    }

    .footer-info-tel {
        font-size: 0.9rem;
    }

    .footer-nav {
        font-size: 0.9rem;
    }
}

@media(max-width: 460px) {
    .footer-tlacidlo {
        width: 40%;
    }
}

@media(max-width: 400px) {
    .footer-info-adr {
        font-size: 0.8rem;
    }

    .footer-info-tel {
        font-size: 0.8rem;
    }

    .footer-main {
        width: 98%;
        margin-left: 1%;
    }
}
